/* h1 color rojo */
h1{ 
    color: red;
}
/* todos los parrafos de color rgb(19, 71, 51) */
p:nth-child(){ color: #5db519;}
/* parrafos dentro de clase azul -> azul */
.azul p{
    color: blue;
}
/* parrafos dentro de id seccion01 -> color de fondo gray */
#seccion01 p{
    background-color: gray;
}
#hola{
    color: #fabada;
}
body>.verde{
    color: green;
}

